## Requirements.txt file

# Data Manipulation and Analysis
pandas==2.0.3
python-dotenv==1.0.0

# # Cloud Services 
prefect==2.11.3
prefect-gcp[cloud_storage]==0.4.5
pandas_gbq
gcsfs
pyspark

# Data Serialization and Formats
pyarrow==12.0.1
fastparquet==2023.7.0

# Jupyter Notebooks and IPython
ipykernel

