## Requirements.txt file

# Data Manipulation and Analysis
pandas==2.0.3

# Environment Variables
python-dotenv==1.0.0

# Cloud Services
prefect==2.11.3
prefect-gcp[cloud_storage]==0.4.5
pandas_gbq==0.19.2
gcsfs==2023.6.0
pyspark==3.4.1

# Data Serialization and Formats
pyarrow==12.0.1
fastparquet==2023.7.0

# Jupyter Notebooks and IPython
ipykernel==6.25.1

# Linter
pylint==2.17.5
